<div class="block">
  <h3>QuickLinks</h3>
  <ul class="navigation">
    <li><%= link_to pat("New Service"), url(:services, :new) %></li>
    <li><%= link_to pat("New Account"), url(:accounts, :new) %></li>
  </ul>
</div>
