<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Service Status</h2>
    <div class="inner">
      <% @services.each do |service| %>
      	<h3><%= service.name %> - <%= service.description %></h3>
      	<ol style="margin-left:25px;">
      	<% @nodes[service.url].each do |node| %>
      		<li><%= node %> - <%= @checkins[service.url][node] ||= "No checkin yet." %></li>
      	<% end %>
      	</ol>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
