<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:services, :index) %></li>
      <li class="active"><%= link_to pat(:new), url(:services, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:new) %> <% mt(:service) %></h2>
    <div class="inner">
      <% form_for :service, url(:services, :create), :class => :form do |f| %>
        <%= partial "services/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
